  <h4>デモについて</h4>

  <h5>Beats</h5>
    <a href="https://www.elastic.co/products/beats">Beats</a>は軽量データシッパーで、Go言語で開発されています。
  実際に取得したいデータ（パケット、メトリック、ログなど）が存在するサーバーにインストールして利用します。
  BeatsはデータをElasticsearchに直接送信したり、Logstashを経由して送信することができ、Kibanaなどを利用して可視化します。

  <h5>Elastic APM</h5>
  <p>
    <a href="https://www.elastic.co/solutions/apm">Elastic APM</a>は、Elastic Stackを使うアプリケーションパフォーマンス監視システムです。
    Elasticsearchにデータを保存し、ソフトウェアサービスやアプリケーションをリアルタイムに監視することができます。
  </p>

  <h5>デモシナリオ</h5>
  <div class="text-center">
    <img src="/scenario.png" class="img-fluid" alt="scenario diagram" />
  </div>

  <p>
    このデモはGCP上に構築されており、Nginx＋Railsのフロントエンドおよび、PostgreSQLのバックエンドサーバーから構築されています。
  </p>

  <p>
    利用しているBeatsとAPMのリンクは次の通りです。

  <ul>
    <li><a href="https://www.elastic.co/guide/en/beats/auditbeat/current/index.html">Auditbeat</a> はOSの監査ログ（プロセスの軌道停止、ファイル改ざん）を集めて送信します。</li>
    <li><a href="https://www.elastic.co/guide/en/beats/heartbeat/current/index.html">Heartbeat</a> は死活監視のためのデータを取得し、送信します。</li>
    <li><a href="https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-getting-started.html">Filebeat</a> はマシンやコンテナからログを送信します。送信時にメタデータを追加してくれます。</li>
    <li><a href="https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-getting-started.html">Metricbeat</a> はマシンやコンテナのメトリックを送信します。送信時にメタデータを追加してくれます。</li>
    <li><a href="https://www.elastic.co/guide/en/beats/packetbeat/current/index.html">Packetbeat</a> はネットワークをモニターし、パケットから様々な情報を取り出して監視できます。</li>
    <li><a href="https://www.elastic.co/guide/en/apm/get-started/current/index.html">Elastic APM</a> はアプリケーションからトレースデータを見ることができます。</li>
    <li><a href="https://www.elastic.co/guide/en/apm/agent/ruby/current/index.html">Elastic APM Ruby Agent</a> はRuby向けのAPMエージェントです。RailsやRackにも対応しています。</li>
  </ul>
  </p>