export ELASTICSEARCH_CLOUD_ID=<COPY_FROM_ELASTIC_CLOUD_CONSOLE>
export ELASTICSEARCH_CLOUD_AUTH=<COPY_FROM_ELASTIC_CLOUD_CONSOLE>
export ELASTIC_APM_SERVER_URL=<COPY_FROM_ELASTIC_CLOUD_CONSOLE>
export ELASTIC_APM_SECRET_TOKEN=<COPY_FROM_ELASTIC_CLOUD_CONSOLE>
export ELASTICSEARCH_USER=<COPY_FROM_ELASTIC_CLOUD_CONSOLE>
export ELASTICSEARCH_PASSWORD=<COPY_FROM_ELASTIC_CLOUD_CONSOLE>
export ELASTICSEARCH_HOST=<COPY_FROM_ELASTIC_CLOUD_CONSOLE>